<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Productos</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="lista-compras">
                    <div class="header">
                        <!-- <h1>{{header ? header : 'Header' }}</h1> -->
                        <h1>{{header.toLocaleUpperCase()}}</h1>
                        <button class="btn btn-primary" v-if="estado === 'default'" @click="cambiarEstado('edit')" >Agregar</button>
                        <button class="btn btn-danger"  v-else  @click="cambiarEstado('default')" >Cancelar</button>
                    </div>
                    <div v-if="estado === 'edit'" >
                        <input type="text" name="" id="" placeholder="Agregar nuevo util" v-model="newUtil" @keyup.enter="agregarUtil" >
                        <p>{{cantidadCaracteres}}/200</p>
                        <button class="btn btn-success" @click="agregarUtil" v-bind:disabled="newUtil.length === 0" >Guardar</button>
                        <!-- Function push para agregar un nuevo elemento en la lista -->
                        <!-- keyup.enter es cuando el usuario de en el boton de enter -->
                        <!-- Se creo con un metodo para agregar un util -->
                        <!-- v-on o @ realiza la misma funcion -->
                    </div>
                    <ul>
                        <li v-for="util in listarReversa" :class="{tachado : util.comprado}" @click="cambiarEstadocompra(util)">{{util.util}}</li>
                    </ul>
                    <p v-if="utiles.length === 0"> No se encuentran utiles en la lista</p>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="lista-compras.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>